<router-outlet></router-outlet>
<div class="ui-container">
  <button (click)="authService.login()">login</button>
  <button (click)="authService.logout()">logout</button>

  <h1>Try Agora</h1>
  <ul>
    <li><a href="https://console.agora.io/">https://console.agora.io/</a></li>
    <li>
      <a
        href="https://docs.agora.io/en/Voice/start_call_audio_web_ng?platform=Web"
        >Agora Voice Call Overview</a
      >
    </li>
    <li><a href="https://github.com/ginpei/try-agora">GitHub</a></li>
  </ul>
  <p>
    <button (click)="join()">▶️ Join</button>
    <button (click)="leave()">⏹ Leave</button>
    |
    <button (click)="publish()">🔊 Publish (unmute)</button>
    <button (click)="unpublish()">🔇 Unpublish (mute)</button>
  </p>
  <button (click)="check()">check</button>
  <p>Your ID: <span id="userId"></span></p>
  <p>Participants (<span id="numOfParticipants">0</span>):</p>
  <ul id="participantList"></ul>
</div>
